In [ ]:
import numpy as np
import math
import pandas as pd
import urllib.request

In [ ]:
link = 'https://s3.us-west-2.amazonaws.com/secure.notion-static.com/c47a2634-d6cf-4b2b-9229-95fbdbe92cae/names.txt?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20200812%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200812T105317Z&X-Amz-Expires=86400&X-Amz-Signature=463637b9feacbbe4807702aca1dfe663dc2aed62ded120d7bf66c5018f8ac4ce&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22names.txt%22'
with urllib.request.urlopen(link) as f:
    html = f.read().decode('utf-8').replace('"', '')
df = pd.DataFrame(html.split(','), columns=['name'])
df = df.sort_values(by='name', ignore_index=True)

In [ ]:
def char_sum(row):
  result = 0
  for i in row:
    result += ord(i) - 64
  return result

df = df.assign(char_sum = df['name'].apply(char_sum))
df['multi'] = df['char_sum'] * (df.index + 1)
df.multi.sum()

871853874

In [90]:
link = 'https://s3.us-west-2.amazonaws.com/secure.notion-static.com/f4f86e5b-f716-478a-9750-5960998f852f/hits.txt?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20200812%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200812T112648Z&X-Amz-Expires=86400&X-Amz-Signature=4decd0a8b19ad187b8f1c0d140e7cc22ca5f178d4531118246e0e3a9825eadad&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22hits.txt%22'
with urllib.request.urlopen(link) as f:
  links = []
  for i in f:
    row = f.readline()
    links.append(row.decode('utf-8').replace('\n', '').split('\t'))

In [95]:
df = pd.DataFrame(links, columns=['name', 'ip', 'page'])
df.ip.value_counts().head(5)

154.157.157.156    771
194.78.107.33      757
226.247.119.128    756
234.189.61.65      751
68.43.130.128      751
Name: ip, dtype: int64

In [412]:
lessons = pd.read_csv('/content/lessons.txt', sep='|')
lessons = lessons.drop([0, 379])
lessons.columns = ['lesson_id', 'event_id', 'subject', 'scheduled_time']
lessons = lessons.assign(
    event_id = lessons.event_id.astype('int'),
    scheduled_time = lambda x: pd.to_datetime(x.scheduled_time, format='%Y-%m-%d').dt.floor('d')
)
lessons.lesson_id = lessons.lesson_id.apply(str.strip)
lessons = lessons.drop_duplicates()

                                lesson_id  event_id    subject scheduled_time
1    1e7bb408-cfef-4a9f-8328-351c9483a64c     38114   phys         2020-01-19
2    6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a     51568   it           2020-01-19
3    62e1a078-33de-47c1-99d2-845b1daca56f     52790   hist         2020-01-19
4    00fc6685-f53a-49bb-b960-5e0042fd3852     51341   phys         2020-01-17
5    4cadf623-82e6-422f-a342-acf978302fb2     55048   phys         2020-01-19
..                                    ...       ...        ...            ...
374  f579351b-177c-4c1c-850a-58bbda8b0b22     48887   hist         2020-01-15
375  056c3d91-dce7-4071-91d3-1de816ee63a3     51001   hist         2020-01-17
376  c64a1daf-d7f5-4c8c-ac9f-df634d77327b     50304   bio          2020-01-11
377  aa7702bc-5271-469c-a1c2-b7e814fd7e20     49880   bio          2020-01-16
378  8643fa00-217a-42ae-a27d-e6f47c0501f1     55449   bio          2020-01-19

[378 rows x 4 columns]

In [361]:
parti = pd.read_csv('/content/participants.txt', sep='|')
parti = parti.drop([0, 744])
parti.columns = ['event_id', 'user_id']
parti.event_id = parti.event_id.astype('int')
parti.user_id = parti.user_id.apply(str.strip)
parti = parti.drop_duplicates()

In [390]:
quality = pd.read_csv('/content/quality.txt', sep='|')
quality = quality.drop([0, 366])
quality.columns = ['lesson_id', 'tech_quality']
quality.tech_quality = quality.tech_quality.apply(lambda x: x.replace(' ', ''))
quality.tech_quality = quality.tech_quality.apply( lambda x: float(x) if x != '' else np.nan)
quality.lesson_id = quality.lesson_id.apply(str.strip)

In [363]:
users = pd.read_csv('/content/users.txt', sep='|')
users = users.drop([0, 744])
users.columns = ['user_id', 'role']
users.user_id = users.user_id.apply(str.strip)
users.role = users.role.apply(str.strip)
users = users.drop_duplicates()

In [413]:
marks = lessons.merge(quality, on='lesson_id', how='left')

In [414]:
tutor = parti.merge(users, on='user_id').query('role == "tutor"')

In [417]:
result = marks.merge(tutor, on='event_id', how='left')
result

                                lesson_id  ...   role
0    1e7bb408-cfef-4a9f-8328-351c9483a64c  ...  tutor
1    6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a  ...  tutor
2    62e1a078-33de-47c1-99d2-845b1daca56f  ...  tutor
3    62e1a078-33de-47c1-99d2-845b1daca56f  ...  tutor
4    00fc6685-f53a-49bb-b960-5e0042fd3852  ...  tutor
..                                    ...  ...    ...
491  056c3d91-dce7-4071-91d3-1de816ee63a3  ...  tutor
492  056c3d91-dce7-4071-91d3-1de816ee63a3  ...  tutor
493  c64a1daf-d7f5-4c8c-ac9f-df634d77327b  ...  tutor
494  aa7702bc-5271-469c-a1c2-b7e814fd7e20  ...  tutor
495  8643fa00-217a-42ae-a27d-e6f47c0501f1  ...  tutor

[496 rows x 7 columns]

In [435]:
test = result.pivot_table(index=['scheduled_time', 'user_id'], values='tech_quality', aggfunc=['mean']).reset_index()

In [442]:
test = result.groupby(['scheduled_time', 'user_id']).agg({'tech_quality' : 'mean'}).dropna().reset_index()

In [449]:
test.loc[test.groupby('scheduled_time').tech_quality.idxmin()]

    scheduled_time                               user_id  tech_quality
5       2020-01-11  8476b612-223f-4c86-9b0b-14bc04759233      4.333333
20      2020-01-12  ad7199dd-3bf6-4d6d-8ae7-448ecf90a4eb      3.500000
23      2020-01-13  1071280f-18dd-40aa-bfed-248b003c09d3      5.000000
47      2020-01-14  c6718d0e-976c-4d6c-b0e0-32c770776567      4.000000
63      2020-01-15  d0e52a15-c319-466e-ab53-fc7877566715      4.333333
73      2020-01-16  b054eff6-02e8-4893-af77-9d3b0a276fed      1.000000
90      2020-01-17  dbfbb7f2-adc9-45e4-bae7-6e0b42b0ecc7      4.000000
95      2020-01-18  43efce48-94b2-4412-857f-223d45969008      4.250000
118     2020-01-19  dbfbb7f2-adc9-45e4-bae7-6e0b42b0ecc7      3.666667
119     2020-01-20  1071280f-18dd-40aa-bfed-248b003c09d3      2.000000